body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.menu {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 50;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu ul li {
    margin: 0 20px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}

.menu ul li a:hover {
    background-color: #575757;
    color: #ddd;
}

.section {
    padding: 50px;
    margin-top: 60px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.section:nth-child(even) {
    background-color: #f9f9f9;
}
